@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
        height: 60vw;
    }

    .secImg img {
        width: 425px;
    }

    .secImg video {
        width: 350px;
        top: 80px;
        right: 0px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }


}



@media screen and (max-width: 800px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
        height: 90vw;
    }
    
    .secImg img {
        width: 425px;
    }

    .secImg video {
        width: 300px;
        top: 80px;
        right: 60px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

}

@media screen and (max-width: 600px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
        height: 130vw;
    }

    .secImg img {
        width: 425px;
    }

    .secImg video {
        width: 300px;
        top: 80px;
        right: 60px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

}

@media screen and (max-width: 400px) {
    nav {
        max-width: 80vw;
    }

    .first {
        flex-wrap: wrap;
        height: 200vw;
    }
    .first>div :nth-child(1) {
        font-size: 35px;
        font-weight: 900;
    }
    
    .first>div :nth-child(2) {
        font-size: 25px;
        font-weight: 400;
    }
    

    .secImg img {
        width: 425px;
    }

   .secImg video {
        width: 300px;
        top: 80px;
        right: 60px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

}

@media screen and (max-width: 360px) {
    nav {
        max-width: 80vw;
    }

    .first {
        flex-wrap: wrap;
        height: 220vw;
    }
    .first>div :nth-child(1) {
        font-size: 35px;
        font-weight: 900;
    }
    
    .first>div :nth-child(2) {
        font-size: 25px;
        font-weight: 400;
    }
    

    .secImg img {
        width: 425px;
    }

    .secImg video {
        width: 300px;
        top: 80px;
        right: 60px;
    }
    
    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

}
