@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

body {
    background-color: black;
}

.main {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/c7f07b68-7989-4ff7-a31e-11c17dcc2fea/fcf685b8-3f9f-42d8-9af3-4bb86fa5a3b8/IN-en-20240422-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 130vh;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    color: red;
    width: 9.25rem;
    height: 2.5rem;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    position: relative;
    font-family: 'Segoe UI';
    gap: 23px;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Segoe UI';
}

.btn-red {
    background-color: red;
    color: white;
    padding: 13px 24px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    border-radius: 6px;
    font-family: 'Segoe UI';
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    color: rgba(255, 255, 255);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;

}

.secImg {
    position: relative;
}

.secImg img {
    width: 699px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 131px;
    right: 113px;
    width: 482px;

}

.first {
    height: 30vw;
}

.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.first>div :nth-child(2) {
    font-size: 31px;
    font-weight: 400;
}

.faq h2 {
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 900;
    font-size: 48px;
    color: rgb(255, 255, 255);
}

.faq {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 14px auto;
    cursor: pointer;
}

.faqbox>span {
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 24px;
}

.faqbox>svg {

    color: rgb(255, 255, 255);
}


footer {
    color: rgba(255, 255, 255, 0.7);
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}

.footer a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgba(255, 255, 255, 0.7);
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

